.card-body p {
  margin: 0;
  padding: 0;
}

.card-body {
  padding: 1.8em 4.8em 2em 1.5em;
  
}

.card-middle {
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding: 0.75em 0em;
  color: var(--color-black, #000);
  font-family: var(--text-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
