.about-text {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 140.625%; /* 28.125px */
  text-align: justify;
}

.about {
  padding-top: 5em;
  padding-bottom: 1.4em;
  gap: 3.5em;
}

.about h1 {
  color: var(--secondary-color)
}

.section-right img{
  width: 375px;
  height: 426px;
  object-fit: cover;
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .about-text {
    font-size: 18px;
  }

  .section-left {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .about {
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 1em;
    flex-direction: column;
  }
  
  .about h1 {
    color: var(--secondary-color)
  }

  .section-right {
    text-align: center;
  }
  
  .section-right img{
    width: 375px;
    height: 426px;
    object-fit: cover;
    border-radius: 12px;
  }
}