.testimonials {
  align-items: inherit;
  padding-top: 7.5em; /* 120px */
  padding-bottom: 9.5em; /* ~154px */
  gap: 4em;
}

.testimonial-cards{
  display: flex;
  justify-content: space-between;
}

.testimonial-title{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .testimonials {
    align-items: inherit;
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 1em;
  }
  .testimonial-cards {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    gap: 1em;
  }
}
