.header {
  align-items: center;
  padding-top: 21px;
  padding-bottom: 26px;
}

.header-logo-wrapper {
  display: flex;
}

.header-logo {
  display: flex;
  margin: 0;
  padding-right: 1em;
  max-width: 180px;
}

@media only screen and (max-width: 600px) {
  .header-logo {
    max-width: 120px;
  }

  .header {
    align-items: center;
    padding: 20px 10px;
  }
}
