@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Markazi+Text:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --dark-color: #333333;
  --grey-color: #EDEFEE;
  --color-white: #FFFFFF;
  --color-orange: #EE9972;
  --title-font: 'Markazi text', sans-serif;
  --text-font: 'Karla', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  margin: 0;
}

h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input, select {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 0.4em;
  outline-color : lightblue;
  margin-bottom: 0.75em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 887px;
  margin-left: auto;
  margin-right: auto;
}

.container--column {
  flex-direction: column;
}

.background-primary {
  background-color: var(--primary-color);
  color: var(--grey-color)
}

.background-secondary {
  background-color: var(--color-white);
  color: var(--dark-color);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}
